<ion-header>
    <ion-navbar>
      <ion-title>
        Proximidade ESP8266
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <button ion-button class="register" (click)="rescan()"> rescan </button>

    <p> Nodemcu1 : {{levelNodemcu1}}</p>
    <ion-list >
      <ion-item no-lines *ngFor="let wifi of data " >
        <ion-avatar item-start>
        </ion-avatar >
        <p  *ngIf="wifi.BSSID == '2e:3a:e8:08:e9:d0'" >{{wifi.SSID}}</p>  
        <p *ngIf="wifi.BSSID == '2e:3a:e8:08:e9:d0'" >{{wifi.BSSID}}</p>  
        <p *ngIf="wifi.BSSID == '2e:3a:e8:08:e9:d0'"  >{{wifi.level}}</p>
      </ion-item>
    </ion-list>
  </ion-content>